<copec-card class="realtime-users-widget">
  <copec-card-header class="header" fxLayout="column">
    <copec-card-header-heading>Active Users right now</copec-card-header-heading>

    <div class="value">{{ currentUsers }}</div>
  </copec-card-header>

  <copec-card-content>
    <div class="section">
      <div class="heading">Page views per minute</div>
      <div class="canvas-content">
        <canvas #canvas></canvas>
      </div>
    </div>

    <div class="section">
      <div class="heading">Top Active Pages</div>
      <copec-scrollbar class="pages">
        <div class="page" *ngFor="let page of pages$ | async">
          {{ page.page }}
        </div>
      </copec-scrollbar>
    </div>
  </copec-card-content>
</copec-card>
