<copec-card fxFlex="auto">
  <copec-card-header>
    <copec-card-header-heading>
      {{ options.title }}
    </copec-card-header-heading>
    <copec-card-header-subheading>
      {{ options.subTitle }}
    </copec-card-header-subheading>

    <copec-card-header-actions>
      <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </copec-card-header-actions>
  </copec-card-header>

  <copec-card-content>
    <div class="content">
      <canvas *ngIf="data"
              [datasets]="data.datasets"
              [labels]="data.labels"
              [legend]="false"
              [options]="chartOptions"
              baseChart
              chartType="pie">
      </canvas>
    </div>
  </copec-card-content>

  <copec-card-actions class="footer" fxLayout="row" fxLayoutAlign="start center">
    <div class="section" fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
      <div class="value">1096</div>
      <div class="label">Total Sales</div>
    </div>
    <div class="section" fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
      <div class="value">598</div>
      <div class="label">Top Categories</div>
    </div>
  </copec-card-actions>

  <copec-loading-overlay [isLoading]="isLoading"></copec-loading-overlay>
</copec-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon> settings</mat-icon>
    <span> Settings </span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon> more</mat-icon>
    <span> More Info </span>
  </button>
  <button mat-menu-item>
    <mat-icon> remove_circle</mat-icon>
    <span> Remove Widget </span>
  </button>
</mat-menu>
