<copec-page-layout mode="card">

  <copec-page-layout-header>
    <copec-breadcrumbs [crumbs]="['Page Layouts']" current="Card Tabbed"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content>
    <copec-card>
      <mat-tab-group>
        <mat-tab label="Main Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="Side Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="Extra Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="Additional Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="Another Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="One More Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="Definitely the last Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="Whoops another Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
        <mat-tab label="And one last Tab">
          <copec-card-content class="padding-top">
            <copec-page-layout-demo-content></copec-page-layout-demo-content>
          </copec-card-content>
        </mat-tab>
      </mat-tab-group>
    </copec-card>
  </copec-page-layout-content>

</copec-page-layout>
