<copec-card>
  <copec-card-header>
    <copec-card-header-heading>{{ options.title }}</copec-card-header-heading>
    <copec-card-header-subheading *ngIf="options.subTitle">{{ options.subTitle }}</copec-card-header-subheading>

    <copec-card-header-actions>
      <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </copec-card-header-actions>
  </copec-card-header>

  <copec-card-content class="card-content">
    <copec-recent-sales-widget-table [data]="tableData" [columns]="tableOptions?.columns"
                                    [pageSize]="tableOptions?.pageSize"></copec-recent-sales-widget-table>

    <div class="content">
      <canvas *ngIf="chartData"
              [datasets]="chartData.datasets"
              [labels]="chartData.labels"
              [legend]="false"
              [options]="chartOptions"
              baseChart
              chartType="line">
      </canvas>
    </div>
  </copec-card-content>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon> settings</mat-icon>
      <span> Settings </span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon> more</mat-icon>
      <span> More Info </span>
    </button>
    <button mat-menu-item>
      <mat-icon> remove_circle</mat-icon>
      <span> Remove Widget </span>
    </button>
  </mat-menu>

  <copec-loading-overlay [isLoading]="isLoading"></copec-loading-overlay>
</copec-card>
