<div class="chat" fxLayout="column" fxLayoutAlign="start center">
  <div class="header elevation"></div>

  <mat-drawer-container class="chat-drawer-container elevation route-animations-elements" fxFlex="auto">

    <mat-drawer class="chat-drawer" [opened]="drawerOpen" [mode]="drawerMode" #drawer>
      <div style="height: 100%;" fxLayout="column">
        <div class="toolbar app-bar border-bottom" fxFlex="none" fxLayout="row" fxLayoutAlign="space-between center">
          <img class="avatar" src="assets/img/avatars/1.jpg">
          <span fxFlex><!-- fill space --></span>
          <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>

        <div fxFlex="auto">
          <mat-nav-list class="contacts">
            <mat-list-item class="contact" (click)="setActiveChat(chat)" *ngFor="let chat of chats" matRipple>
              <img [src]="chat.picture" matListAvatar>
              <h3 class="name" matLine>{{chat.name}}</h3>
              <p class="message secondary-text" matLine> {{chat.lastMessage}}</p>
            </mat-list-item>
          </mat-nav-list>
        </div>
      </div>
    </mat-drawer>

    <mat-drawer-content class="chat-drawer-content" fxLayout="column">
      <div class="toolbar app-bar border-bottom" fxLayout="row" fxFlex="none" fxLayoutAlign="space-between center">
        <div class="current-contact" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
          <button type="button" mat-icon-button (click)="drawer.open()" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
          </button>

          <img class="avatar" [src]="activeChat.picture">

          <div fxLayout="column">
            <span class="name">{{ activeChat.name }}</span>
            <span class="status secondary-text">Online</span>
          </div>
        </div>

        <div class="actions" fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button>
            <mat-icon>attach_file</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="chatMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>

      <div class="messages-container background" copecScrollbar fxFlex #messagesScroll>
        <div class="messages">
          <div class="chat-message" *ngFor="let message of chats[0].messages" [ngSwitch]="message.who"
               fxLayout="column" fxLayoutAlign="end start">
            <div class="partner" *ngSwitchCase="'partner'" fxFlexAlign="start" fxLayout="row"
                 fxLayoutAlign="start start">
              <img class="avatar" [src]="activeChat.picture">
              <span class="message card">{{ message.message }}</span>
            </div>
            <div class="me" *ngSwitchCase="'me'" fxFlexAlign="end" fxLayout="row" fxLayoutAlign="end start">
              <span class="message background-primary color-primary-contrast">{{ message.message }}</span>
              <img class="avatar" src="assets/img/avatars/1.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="reply copec-form-field copec-form-field-remove-hint-bar"
           fxFlex="none"
           fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="24px">
        <mat-form-field class="reply-field" appearance="fill" fxFlex>
          <mat-label>Write your message</mat-label>
          <input matInput (keyup.enter)="send()" [formControl]="replyCtrl">
          <button (click)="send()" matSuffix mat-icon-button color="primary" [disabled]="!replyCtrl.value">
            <mat-icon>send</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-drawer-content>

  </mat-drawer-container>
</div>

<mat-menu #userMenu="matMenu" xPosition="before">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
  <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-menu #chatMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Contact Info</span>
  </button>
  <button mat-menu-item>
    <mat-icon>volume_mute</mat-icon>
    <span>Mute Chat</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="clearMessages(activeChat)">
    <mat-icon>clear_all</mat-icon>
    <span>Clear Messages</span>
  </button>
</mat-menu>
