.copec-card {
  background: $theme-card;
  color: $theme-text;

  @include mat-elevation($elevation);

  .copec-card-header-subheading {
    color: $theme-secondary-text;
  }

  .copec-card-actions {
    border-top: 1px solid $theme-divider;
  }
}
