<copec-page-layout mode="card">
  <copec-page-layout-header>
    <copec-breadcrumbs [@fadeInRight] [crumbs]="['Forms']" current="Form Elements"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

    <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start stretch">

      <copec-card [fxFlex.gt-sm]="col2"
                 class="basic-forms route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Basic Forms</copec-card-header-heading>
          <copec-card-header-subheading>Simple Material Form Input Elements</copec-card-header-subheading>
          <copec-card-header-actions>
            <button (click)="showBasicFormSource=!showBasicFormSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div *ngIf="showBasicFormSource" class="source">
            <code [innerHTML]="basicFormSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column">
            <mat-form-field>
              <mat-label>Company</mat-label>
              <input matInput required>
            </mat-form-field>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <mat-form-field fxFlex="auto">
                <mat-label>First Name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field fxFlex="auto">
                <mat-label>Last Name</mat-label>
                <input matInput required>
              </mat-form-field>
            </div>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input [type]="inputType" matInput required value="Hello!">
              <button (click)="togglePassword()" mat-icon-button matSuffix type="button">
                <mat-icon *ngIf="visible">visibility</mat-icon>
                <mat-icon *ngIf="!visible">visibility_off</mat-icon>
              </button>
              <mat-hint>Try clicking the eye to toggle the visibility.</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Hint Label and Max Length</mat-label>
              <input #lengthHint matInput maxlength="10" required>
              <mat-hint align="start">Try to type in more than 10 letters</mat-hint>
              <mat-hint align="end">{{lengthHint.value.length}}/10</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Disabled</mat-label>
              <input disabled matInput>
            </mat-form-field>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col2"
                 class="advanced-forms route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Advanced Forms</copec-card-header-heading>
          <copec-card-header-subheading>Form Input Variations</copec-card-header-subheading>
          <copec-card-header-actions>
            <button (click)="showAdvancedFormSource=!showAdvancedFormSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div *ngIf="showAdvancedFormSource" class="source">
            <code [innerHTML]="advancedFormSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
              <mat-form-field class="copec-flex-form-field" color="primary" fxFlex.gt-sm>
                <mat-label>Primary Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="copec-flex-form-field" color="accent" fxFlex.gt-sm>
                <mat-label>Accent Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field class="copec-flex-form-field" color="warn" fxFlex.gt-sm>
                <mat-label>Warn Color</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput value="DavidSmith">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Mobile Phone</mat-label>
              <input matInput required>
              <mat-icon matPrefix>smartphone</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select>
                <mat-option>New York</mat-option>
                <mat-option>Washington</mat-option>
                <mat-option>Florida</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input [matDatepicker]="datepickerRef" matInput>
              <mat-datepicker-toggle [for]="datepickerRef" matSuffix></mat-datepicker-toggle>
              <mat-hint>Click on the icon to the right for a Datepicker</mat-hint>
            </mat-form-field>
            <mat-datepicker #datepickerRef></mat-datepicker>
          </div>
        </copec-card-content>
      </copec-card>
    </div>

    <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start stretch">

      <copec-card [fxFlex.gt-sm]="col3"
                 class="route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Fill Input Style</copec-card-header-heading>
          <copec-card-header-subheading>New Material Design 2 Input</copec-card-header-subheading>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div class="result" fxLayout="column">
            <div fxLayout="column">
              <mat-form-field appearance="fill" class="copec-flex-form-field" color="primary">
                <mat-label>Primary Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill" class="copec-flex-form-field" color="accent">
                <mat-label>Accent Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill" class="copec-flex-form-field" color="warn">
                <mat-label>Warn Color</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col3"
                 class="route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Outline Input Style</copec-card-header-heading>
          <copec-card-header-subheading>Impressive Input, great for standalone use</copec-card-header-subheading>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div class="result" fxLayout="column">
            <div fxLayout="column">
              <mat-form-field appearance="outline" class="copec-flex-form-field" color="primary">
                <mat-label>Primary Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline" class="copec-flex-form-field" color="accent">
                <mat-label>Accent Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="outline" class="copec-flex-form-field" color="warn">
                <mat-label>Warn Color</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col3"
                 class="route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Standard Input Style</copec-card-header-heading>
          <copec-card-header-subheading>Simple & Material Default</copec-card-header-subheading>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div class="result" fxLayout="column">
            <div fxLayout="column">
              <mat-form-field appearance="standard" class="copec-flex-form-field" color="primary">
                <mat-label>Primary Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="standard" class="copec-flex-form-field" color="accent">
                <mat-label>Accent Color</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="standard" class="copec-flex-form-field" color="warn">
                <mat-label>Warn Color</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </copec-card-content>
      </copec-card>
    </div>

    <div [fxLayoutGap]="gap"
         fxFlex="noshrink"
         fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start stretch">

      <copec-card [fxFlex.gt-sm]="col2"
                 class="form-prefix-suffix route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Prefix/Suffix</copec-card-header-heading>
          <copec-card-header-subheading>Prefix and Suffix text or icons</copec-card-header-subheading>
          <copec-card-header-actions>
            <button (click)="showFormPrefixSuffixSource=!showFormPrefixSuffixSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div *ngIf="showFormPrefixSuffixSource" class="source">
            <code [innerHTML]="formPrefixSuffixSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Add a Prefix and Suffix to an input
            field, from text to icons or symbols, anything and any element can be set as prefix or
            suffix.</p>
            <mat-form-field><span matPrefix>+1 &nbsp;</span>
              <mat-label>Input with prefix text</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Input with suffix icon</mat-label>
              <input matInput>
              <mat-icon matSuffix>menu</mat-icon>
            </mat-form-field>
            <mat-form-field><span matPrefix>http:// &nbsp;</span>
              <mat-label>Input with prefix text and suffix icon</mat-label>
              <input matInput>
              <mat-icon matSuffix>camera</mat-icon>
            </mat-form-field>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col2"
                 class="form-hint-label route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Hint Label</copec-card-header-heading>
          <copec-card-header-subheading>Hints for explanations or extra info</copec-card-header-subheading>
          <copec-card-header-actions class="actions" fxLayout="row">
            <button (click)="showFormHintLabelSource=!showFormHintLabelSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content class="content" fxLayout="column">
          <div *ngIf="showFormHintLabelSource" class="source">
            <code [innerHTML]="formHintLabelSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">When you need to display additional
            information to the user you can use Hint Labels to display information appropriately.</p>
            <mat-form-field>
              <mat-label>Email Address</mat-label>
              <input matInput>
              <mat-hint>e.g. david@example.com</mat-hint>
            </mat-form-field>
            <mat-form-field floatPlaceholder="never">
              <mat-label>Domain Name</mat-label>
              <input #hintLabelInputRef matInput>
              <mat-hint align="end">http://{{hintLabelInputRef.value || "company"}}.example.com</mat-hint>
            </mat-form-field>
            <mat-form-field floatPlaceholder="never">
              <mat-label>Dynamic Hint Label</mat-label>
              <input #hintLabelInputLengthRef matInput maxlength="10">
              <mat-hint align="start">Try to type in more than 10 letters</mat-hint>
              <mat-hint align="end">{{hintLabelInputLengthRef.value.length}}/10</mat-hint>
            </mat-form-field>
          </div>
        </copec-card-content>
      </copec-card>
    </div>

    <div [fxLayoutGap]="gap"
         [@fadeInUp]
         fxFlex="noshrink"
         fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start stretch">
      <copec-card [fxFlex.gt-sm]="col3" class="form-select route-animations-elements" fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Select</copec-card-header-heading>
          <copec-card-header-subheading>Select between multiple options</copec-card-header-subheading>
          <copec-card-header-actions class="actions" fxLayout="row">
            <button (click)="showFormSelectSource=!showFormSelectSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content class="content" fxLayout="column">
          <div *ngIf="showFormSelectSource" class="source">
            <code [innerHTML]="formSelectSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column" fxLayoutGap="8px">
            <p class="description" fxFlex="none">A intuitive select component that
              displays the current position you are at and has smooth animations.</p>
            <mat-form-field fxFlex="none">
              <mat-label>Favorite fruit</mat-label>
              <mat-select>
                <mat-option value="Apples">Apples</mat-option>
                <mat-option value="Peaches">Peaches</mat-option>
                <mat-option value="Bananas">Bananas</mat-option>
                <mat-option value="Mango">Mango</mat-option>
                <mat-option value="Apples">Cucumber</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [color]="selectCtrl.value" fxFlex="none">
              <mat-label>Themeable Colors</mat-label>
              <mat-select [formControl]="selectCtrl">
                <mat-option value="primary">Primary Color</mat-option>
                <mat-option value="accent">Accent Color</mat-option>
                <mat-option value="warn">Warn Color</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col3"
                 class="form-datepicker route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Datepicker</copec-card-header-heading>
          <copec-card-header-subheading>Easily select a date for inputs</copec-card-header-subheading>
          <copec-card-header-actions>
            <button (click)="showFormDatepickerSource=!showFormDatepickerSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div *ngIf="showFormDatepickerSource" class="source">
            <code [innerHTML]="formDatepickerSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column" fxLayoutGap="16px">
            <p class="description" fxFlex="none">A Material styled Datepicker that
              allows for easy selection of any date with any format.</p>
            <mat-form-field>
              <mat-label>Select your date</mat-label>
              <input (click)="formDatepickerRef.open()"
                     (focus)="formDatepickerRef.open()"
                     [matDatepicker]="formDatepickerRef"
                     matInput
                     readonly>
              <mat-datepicker-toggle [for]="formDatepickerRef" matSuffix></mat-datepicker-toggle>
              <mat-hint>Click on the input or the datepicker icon</mat-hint>
              <mat-datepicker #formDatepickerRef></mat-datepicker>
            </mat-form-field>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col3"
                 class="form-slider route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Slider</copec-card-header-heading>
          <copec-card-header-subheading>Choose a value from a range</copec-card-header-subheading>
          <copec-card-header-actions>
            <button (click)="showFormSliderSource=!showFormSliderSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div *ngIf="showFormSliderSource" class="source">
            <code [innerHTML]="formSliderSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">An component similiar to the range input with
            better usability and drag & drop + keyboard support.</p>
            <div fxLayout="column">
              <mat-slider [max]="100" [min]="0" [step]="1" [thumbLabel]="true" [tickInterval]="10"
                          value="36"></mat-slider>
              <div fxLayout="row">
                <mat-slider [max]="10" [min]="0" [step]="1" color="primary" fxFlex
                            value="6"></mat-slider>
                <mat-slider [max]="10" [min]="0" [step]="1" color="accent" fxFlex fxHide fxShow.gt-lg
                            value="8"></mat-slider>
                <mat-slider [max]="10" [min]="0" [step]="1" color="warn" fxFlex value="7"></mat-slider>
              </div>
            </div>
          </div>
        </copec-card-content>
      </copec-card>

    </div>

    <div [fxLayoutGap]="gap"
         [@fadeInUp]
         fxFlex="noshrink"
         fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start stretch">
      <copec-card [fxFlex.gt-sm]="col2" class="form-checkbox route-animations-elements" fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Checkbox</copec-card-header-heading>
          <copec-card-header-subheading>Select and deselect simply</copec-card-header-subheading>
          <copec-card-header-actions class="actions" fxLayout="row">
            <button (click)="showFormCheckboxSource=!showFormCheckboxSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content class="content" fxLayout="column">
          <div *ngIf="showFormCheckboxSource" class="source">
            <code [innerHTML]="formCheckboxSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Allow for simple selecting and
            deselecting of options.</p>
            <div fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox [checked]="true">Stay signed in</mat-checkbox>
              <mat-checkbox [indeterminate]="true">Indeterminate</mat-checkbox>
              <mat-checkbox [checked]="false" align="end">Align end</mat-checkbox>
            </div>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col2"
                 class="form-checkbox-theming route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Checkbox Theming</copec-card-header-heading>
          <copec-card-header-subheading>Style Components using the Theme API</copec-card-header-subheading>
          <copec-card-header-actions>
            <button (click)="showFormCheckboxThemingSource=!showFormCheckboxThemingSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div *ngIf="showFormCheckboxThemingSource" class="source">
            <code [innerHTML]="formCheckboxThemingSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Style checkbox elements with the Theme
            API.</p>
            <div fxLayout="column" fxLayoutGap="8px">
              <mat-checkbox [checked]="true" color="primary">Primary Color</mat-checkbox>
              <mat-checkbox [checked]="true" color="accent">Accent Color</mat-checkbox>
              <mat-checkbox [checked]="true" color="warn">Warn Color</mat-checkbox>
            </div>
          </div>
        </copec-card-content>
      </copec-card>

    </div>

    <div [fxLayoutGap]="gap"
         [@fadeInUp]
         fxFlex="noshrink"
         fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="start stretch">

      <copec-card [fxFlex.gt-sm]="col2" class="form-radio route-animations-elements" fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Radio Button</copec-card-header-heading>
          <copec-card-header-subheading>Let users decide between options</copec-card-header-subheading>
          <copec-card-header-actions>
            <button (click)="showFormRadioSource=!showFormRadioSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content fxLayout="column">
          <div *ngIf="showFormRadioSource" class="source">
            <code [innerHTML]="formRadioSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">When you need a user to decide between
            multiple options and have him only choose one, you can use a radio button.</p>
            <div fxLayout="column" fxLayoutGap="16px" style="margin-top: 12px;">
              <mat-radio-group fxLayout="row" fxLayoutGap="16px">
                <mat-radio-button [checked]="true" value="Apples">Apples</mat-radio-button>
                <mat-radio-button value="Peaches">Peaches</mat-radio-button>
              </mat-radio-group>
              <mat-radio-group color="accent" fxLayout="row" fxLayoutGap="16px">
                <mat-radio-button [checked]="true" color="primary" value="primary">Primary Color
                </mat-radio-button>
                <mat-radio-button color="accent" value="accent">Accent Color</mat-radio-button>
                <mat-radio-button color="warn" value="warn">Warn Color</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </copec-card-content>
      </copec-card>

      <copec-card [fxFlex.gt-sm]="col2"
                 class="form-slide-toggle route-animations-elements"
                 [@fadeInUp]
                 fxFlex="grow">
        <copec-card-header>
          <copec-card-header-heading>Form Slide Toggle</copec-card-header-heading>
          <copec-card-header-subheading>Slide between two values</copec-card-header-subheading>
          <copec-card-header-actions class="actions" fxLayout="row">
            <button (click)="showFormSlideToggleSource=!showFormSlideToggleSource"
                    class="icon"
                    mat-icon-button
                    matTooltip="Show Code"
                    type="button">
              <mat-icon>code</mat-icon>
            </button>
          </copec-card-header-actions>
        </copec-card-header>
        <copec-card-content class="content" fxLayout="column">
          <div *ngIf="showFormSlideToggleSource" class="source">
            <code [innerHTML]="formSlideToggleSource" class="html" copecHighlight></code>
          </div>
          <div class="result" fxLayout="column"><p class="description">Allow the user to slide toggle an
            option or a value. You can either click or you can drag & drop the slide to change its
            state.</p>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxLayout="column" fxLayoutGap="8px">
                <mat-slide-toggle [checked]="false">Slide Me</mat-slide-toggle>
                <mat-slide-toggle [checked]="false">Drag & Drop</mat-slide-toggle>
                <mat-slide-toggle [checked]="true">I Agree</mat-slide-toggle>
              </div>
              <div fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="8px">
                <mat-slide-toggle [checked]="true" color="primary" labelPosition="before">Primary Color
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="true" color="accent" labelPosition="before">Accent Color
                </mat-slide-toggle>
                <mat-slide-toggle [checked]="true" color="warn" labelPosition="before">Warn Color
                </mat-slide-toggle>
              </div>
            </div>
          </div>
        </copec-card-content>

      </copec-card>
    </div>
  </copec-page-layout-content>
</copec-page-layout>
