.copec-page-layout {
  display: block;
}

.copec-page-layout-simple {

  .copec-page-layout-content {
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

.copec-page-layout-card {
  padding-bottom: $padding;

  .copec-page-layout-header {
    margin-bottom: -$page-layout-toolbar-height;
    padding-bottom: $page-layout-toolbar-height;
  }

}

.copec-page-layout-header {
  height: $page-layout-height - $page-layout-toolbar-height;
  padding-left: $padding;
  padding-right: $padding;
  display: flex;
  flex-direction: row;
  place-content: center flex-start;
  align-items: center;
}

.copec-page-layout-content {
  display: block;
  padding-left: $padding;
  padding-right: $padding;

  @include layout-bp(lt-md) {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }
}
