<div class="padding" fxLayout="column">

  <copec-breadcrumbs current="Level 5 - Wow such deep!"
                    [crumbs]="['Level 1', 'Level 2', 'Level 3', 'Level 4']"></copec-breadcrumbs>

  <copec-card>
    <copec-card-header>
      <copec-card-header-heading>Level 5</copec-card-header-heading>
      <copec-card-header-subheading>Not as deep as you can go.</copec-card-header-subheading>
    </copec-card-header>

    <copec-card-content>
      <div>
        You went so deep, wow! But this is not even as deep as you can go, copec supports UNLIMITED Levels in the Menu.
        <br>
        <br>Now go ahead and explore the other great pages of copec. Have you seen the
        <strong><a class="text" [routerLink]="['/apps/inbox']">awesome Inbox Component</a></strong>?
      </div>
    </copec-card-content>
  </copec-card>
</div>
