<copec-page-layout>

  <copec-page-layout-header>
    <copec-breadcrumbs [crumbs]="['Page Layouts']" current="Simple"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content>
    <copec-page-layout-demo-content></copec-page-layout-demo-content>
  </copec-page-layout-content>

</copec-page-layout>
