<copec-page-layout mode="card">

  <copec-page-layout-header>
    <copec-breadcrumbs [@fadeInRight] current="Drag & Drop"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content cdkDropListGroup
                            fxLayout="row"
                            fxLayout.lt-sm="column"
                            fxLayoutAlign="start start"
                            fxLayoutGap="24px">
    <copec-card [@fadeInUp] class="basic-forms" fxFlex="auto">
      <copec-card-header>
        <copec-card-header-heading>To-Do Tasks</copec-card-header-heading>
        <copec-card-header-subheading>Simply Drag & Drop items in your order</copec-card-header-subheading>
      </copec-card-header>
      <copec-card-content (cdkDropListDropped)="drop($event)" [cdkDropListData]="todo" cdkDropList>
        <div *ngFor="let task of todo" cdkDrag class="task card" fxLayout="column" fxLayoutAlign="center start">
          <div class="heading">{{ task.name }}</div>
          <div class="caption secondary-text">{{ task.due }}</div>
        </div>
      </copec-card-content>
    </copec-card>

    <copec-card [@fadeInUp] class="basic-forms" fxFlex="auto">
      <copec-card-header>
        <copec-card-header-heading>Done Tasks</copec-card-header-heading>
        <copec-card-header-subheading>Drag between lists and inside lists</copec-card-header-subheading>
      </copec-card-header>
      <copec-card-content (cdkDropListDropped)="drop($event)" [cdkDropListData]="done" cdkDropList>
        <div *ngFor="let task of done" cdkDrag class="task card" fxLayout="row" fxLayoutAlign="space-between center">
          <div>{{ task.name }}</div>
          <mat-icon>done</mat-icon>
        </div>
      </copec-card-content>
    </copec-card>
  </copec-page-layout-content>
</copec-page-layout>
