<div class="copec-preview-card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="preview">
    <div class="title">Preview</div>
    <div class="preview-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
      <button type="button" color="primary" mat-raised-button (click)="openSnackbar()">
        TRIGGER SNACKBAR
      </button>
    </div>
  </div>

  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Snack Bar</div>
      <div class="tag">&lt;mat-snack-bar&gt;</div>
    </div>

    <mat-tab-group class="tabs copec-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="tab-content">
          Snackbars contain a single line of text directly related to the operation performed. They may contain a text
          action, but no icons.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <code copecHighlight [innerHTML]="snackbarHTML"></code>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

