<div class="copec-preview-card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="preview">
    <div class="title">Preview</div>
    <div class="preview-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
      <mat-slider fxFlex min="1" max="10" thumbLabel tickInterval="1" value="7"></mat-slider>
      <mat-slider fxFlex color="primary" min="1" max="10" value="2"></mat-slider>
      <mat-slider fxFlex color="warn" min="1" max="10" value="8"></mat-slider>
    </div>
  </div>

  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Slider</div>
      <div class="tag">&lt;mat-slider&gt;</div>
    </div>

    <mat-tab-group class="tabs copec-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="tab-content">
          Sliders are ideal components for adjusting settings that reflect intensity levels, such as volume, brightness,
          or color saturation.
          <br>
          <br>Sliders may have icons on both ends of the bar that reflect the value intensity. Place the smallest value
          for the slider range on the left and the largest value on the right.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <code copecHighlight [innerHTML]="sliderHTML"></code>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

