<div class="copec-preview-card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="preview">
    <div class="title">Preview</div>
    <div class="preview-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon> dialpad</mat-icon>
          <span> Redial </span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon> voicemail</mat-icon>
          <span> Check voicemail </span>
        </button>
        <button mat-menu-item>
          <mat-icon> notifications_off</mat-icon>
          <span> Disable alerts </span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Menu</div>
      <div class="tag">&lt;mat-menu&gt;</div>
    </div>

    <mat-tab-group class="tabs copec-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="tab-content">
          Menus offer a list of options that are displayed when triggered. The position (before, after) and (above,
          below) is automatically decided, but can be overridden with e.g. x-position='before'.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <code copecHighlight [innerHTML]="menuHTML"></code>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

