@import "var";

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

:host {
  display: block;
}

.sidenav-item {
  transition: background-color $swift-ease-out-duration $swift-ease-out-timing-function;
}

.subheading {
  font: var(--font-caption);
  margin-left: $sidenav-item-padding-left + 2px;
  margin-top: $spacing;
  margin-bottom: 8px;
  font-weight: 500;
  transition: 300ms cubic-bezier(.25, .8, .25, 1);
  white-space: nowrap;

  &.first-subheading {
    margin-top: 8px;
    margin-bottom: 6px;
  }
}

.sidenav-item-link {
  height: $sidenav-item-height;
  padding-left: $sidenav-item-padding-left;
  padding-right: $sidenav-item-padding-right;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  white-space: nowrap;
  text-decoration: none;
  border-top-right-radius: $sidenav-item-height / 2;
  border-bottom-right-radius: $sidenav-item-height / 2;
  margin-right: $sidenav-item-margin-right;
  transition: background-color $swift-ease-out-duration $swift-ease-out-timing-function;

  .icon {
    width: $sidenav-item-icon-size;
    height: $sidenav-item-icon-size;
    font-size: $sidenav-item-icon-size;
    line-height: $sidenav-item-icon-size;
  }

  .text-icon {
    width: $sidenav-item-icon-size;
    height: $sidenav-item-icon-size;
    line-height: $sidenav-item-icon-size;
    text-align: center;
  }

  .name {
    padding-left: $sidenav-item-padding-left;
  }

  .badge {
    padding: $spacing/6 $spacing/3;
    font-size: 12px;
    border-radius: 12px;

    & + .expand-indicator {
      margin-left: 8px;
    }
  }

  .expand-indicator {
    transition: transform .25s cubic-bezier(.35, 0, .25, 1);

    &.rotate {
      transform: rotate(-180deg);
    }
  }

  .name, .badge, .expand-indicator {
    will-change: opacity;
  }
}

.dropdown {
  position: relative;
  overflow: hidden;
}
