
copec-list {
  @include mat-elevation($elevation);
  border-radius: $border-radius;
  overflow: auto;
  display: flex;

  .copec-list-table {
    flex: 1 1 auto;
  }

  .copec-list-header {
    background: $theme-card;
    border-bottom: 1px solid $theme-divider;

    .copec-filter-input {
      background: $theme-card;
      color: currentColor;

      ::placeholder {
        color: currentColor;
      }
    }

    .copec-filter-input-icon, .copec-column-filter {
      color: $theme-icon;
    }

    .copec-list-name {
      border-right: 1px solid $theme-divider;
    }
  }

  .mat-header-row, .paginator {
    background: $theme-app-bar;
  }

  .mat-row:hover {
    background: $theme-background-hover;
  }

  .mat-cell.actions-cell, .mat-header-cell.actions-cell {
    button {
      color: $theme-icon;
    }
  }

  .mat-cell.image-cell, .mat-header-cell.image-cell {
    img {
      background: $theme-app-bar;
    }
  }
}
