copec-inbox {
  .drawer-content > .header {
    background: $theme-color-accent url('/assets/img/backgrounds/inbox.png');
  }

  copec-inbox-navigation {

    .mat-list-item {
      &.active {
        color: $theme-color-primary;
        background: $theme-background-hover;
      }

      &:hover {
        background: $theme-background-hover;
      }
    }
  }

  copec-inbox-mail {

    .vertical-divider {
      background: $theme-divider;
    }
  }

  copec-inbox-mail-list {

    .mail {
      &:hover {
        background: $theme-background-hover;
      }
    }

    .picture {
      background: $theme-app-bar;
    }
  }
}
