<copec-page-layout>

  <copec-page-layout-header>
    <copec-breadcrumbs [crumbs]="['Page Layouts']" current="Simple Tabbed"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content class="padding-0">
    <mat-tab-group>
      <mat-tab label="Main Tab">
        <div class="padding">
          <copec-page-layout-demo-content></copec-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Side Tab">
        <div class="padding">
          <copec-page-layout-demo-content></copec-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Extra Tab">
        <div class="padding">
          <copec-page-layout-demo-content></copec-page-layout-demo-content>
        </div>
      </mat-tab>
    </mat-tab-group>
  </copec-page-layout-content>

</copec-page-layout>
