@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
// $theme-primary: mat-palette($mat-teal);
// $theme-accent:  mat-palette($mat-light-blue, 500, 200, 700);

$theme-primary-hue: 700;
$theme-accent-hue: 500;
$theme-warn-hue: 500;

$theme-primary: mat-palette($mat-blue, $theme-primary-hue);
$theme-accent: mat-palette($mat-teal, $theme-accent-hue);
$theme-warn: mat-palette($mat-red, $theme-warn-hue);

.copec-default {
  $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
  //@include angular-material-theme($theme);

  @import "../@copec/styles/themes/default";

  background: $theme-background;
  color: $theme-text;

  @import "./pages/apps/inbox/inbox.component.theme";
  @import "./pages/apps/chat/chat.component.theme";
  @import "./pages/forms/form-wizard/form-wizard.component.theme";
  @import "./pages/coming-soon/coming-soon.component.theme";
  @import "./layout/config-panel/config-panel.component.theme";
}

.copec-light {
  $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
  //@include angular-material-theme($theme);

  @import "../@copec/styles/themes/light";

  background: $theme-background;
  color: $theme-text;

  @import "./pages/apps/inbox/inbox.component.theme";
  @import "./pages/apps/chat/chat.component.theme";
  @import "./pages/forms/form-wizard/form-wizard.component.theme";
  @import "./pages/coming-soon/coming-soon.component.theme";
  @import "./layout/config-panel/config-panel.component.theme";
}

.copec-dark {
  $theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
  //@include angular-material-theme($theme);

  @import "../@copec/styles/themes/dark";

  background: $theme-background;
  color: $theme-text;

  @import "./pages/apps/inbox/inbox.component.theme";
  @import "./pages/apps/chat/chat.component.theme";
  @import "./pages/forms/form-wizard/form-wizard.component.theme";
  @import "./pages/coming-soon/coming-soon.component.theme";
  @import "./layout/config-panel/config-panel.component.theme";
}

.copec-flat {
  $theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);
  //@include angular-material-theme($theme);

  @import "../@copec/styles/themes/flat";

  background: $theme-background;
  color: $theme-text;

  @import "./pages/apps/inbox/inbox.component.theme";
  @import "./pages/apps/chat/chat.component.theme";
  @import "./pages/forms/form-wizard/form-wizard.component.theme";
  @import "./pages/coming-soon/coming-soon.component.theme";
  @import "./layout/config-panel/config-panel.component.theme";
}
