<div class="copec-preview-card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="preview">
    <div class="title">Preview</div>
    <div class="preview-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
      <button mat-icon-button matTooltip="Favorite this">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Tooltip</div>
      <div class="tag">&lt;mat-snack-bar&gt;</div>
    </div>

    <mat-tab-group class="tabs copec-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="tab-content">
          Tooltips identify an element when they are activated. They may contain brief helper text about its function.
          For example, they may contain text information about actionable icons.
          <br>Tooltip labels do not receive input focus.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <code copecHighlight [innerHTML]="tooltipHTML"></code>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

