<copec-page-layout mode="card">

  <copec-page-layout-header>
    <copec-breadcrumbs [crumbs]="['Page Layouts']" current="Card"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content>
    <copec-card>
      <copec-card-header>
        <copec-card-header-heading>Blog Post</copec-card-header-heading>
      </copec-card-header>

      <copec-card-content>
        <copec-page-layout-demo-content></copec-page-layout-demo-content>
      </copec-card-content>
    </copec-card>
  </copec-page-layout-content>

</copec-page-layout>
