<copec-page-layout mode="simple">
  <copec-page-layout-header>
    <copec-breadcrumbs [@fadeInRight] current="Components"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
    <copec-scrollbar [fxFlex]="menuWidth"
                    class="sticky-list"
                    fxHide
                    fxLayout="column"
                    fxShow.gt-sm>
      <mat-list [@fadeInUp] class="navigation" fxFlex="grow">
        <h3 matSubheader>Components</h3>
        <mat-list-item (click)="scrollTo('autocomplete')" matRipple>
          <h4 matLine>Autocomplete</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('buttons')" matRipple>
          <h4 matLine>Buttons</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('cards')" matRipple>
          <h4 matLine>Cards</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('checkbox')" matRipple>
          <h4 matLine>Checkbox</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('dialogs')" matRipple>
          <h4 matLine>Dialog</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('gridList')" matRipple>
          <h4 matLine>Grid List</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('input')" matRipple>
          <h4 matLine>Input</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('lists')" matRipple>
          <h4 matLine>List</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('menu')" matRipple>
          <h4 matLine>Menu</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('progress')" matRipple>
          <h4 matLine>Progress</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('progressSpinner')" matRipple>
          <h4 matLine>Progress Spinner</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('radio')" matRipple>
          <h4 matLine>Radio</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('slider')" matRipple>
          <h4 matLine>Slider</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('slideToggle')" matRipple>
          <h4 matLine>Slide Toggle</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('snackBar')" matRipple>
          <h4 matLine>Snack Bar</h4>
        </mat-list-item>
        <mat-list-item (click)="scrollTo('tooltip')" matRipple>
          <h4 matLine>Tooltip</h4>
        </mat-list-item>
      </mat-list>
    </copec-scrollbar>

    <div [@fadeInUp] class="content" fxLayout="column" fxLayoutGap="24px">
      <copec-autocomplete></copec-autocomplete>
      <copec-buttons></copec-buttons>
      <copec-cards></copec-cards>
      <copec-checkbox></copec-checkbox>
      <copec-dialogs></copec-dialogs>
      <copec-grid-list></copec-grid-list>
      <copec-input></copec-input>
      <copec-lists></copec-lists>
      <copec-menu></copec-menu>
      <copec-progress></copec-progress>
      <copec-progress-spinner></copec-progress-spinner>
      <copec-radio></copec-radio>
      <copec-slider></copec-slider>
      <copec-slide-toggle></copec-slide-toggle>
      <copec-snack-bar></copec-snack-bar>
      <copec-tooltip></copec-tooltip>
    </div>
  </copec-page-layout-content>
</copec-page-layout>

