<copec-card [style.background]="options.background" [style.color]="options.color">
  <copec-card-header class="header">
    <copec-card-header-heading [style.color]="options.color">{{ options.title }}</copec-card-header-heading>
    <copec-card-header-subheading [style.color]="options.color" class="subheading">
      <mat-icon *ngIf="options.gain >= 0">arrow_upward</mat-icon>
      <mat-icon *ngIf="options.gain < 0">arrow_downward</mat-icon>
      {{ options.gain }}% {{ options.subTitle }}
    </copec-card-header-subheading>

    <copec-card-header-actions>
      <button (click)="reload()" mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </copec-card-header-actions>
  </copec-card-header>

  <copec-card-content class="card-content">
    <canvas *ngIf="data"
            [datasets]="data.datasets"
            [labels]="data.labels"
            [legend]="false"
            [options]="chartOptions"
            baseChart
            chartType="bar">
    </canvas>
  </copec-card-content>

  <copec-loading-overlay [isLoading]="isLoading"></copec-loading-overlay>
</copec-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon> settings</mat-icon>
    <span> Settings </span>
  </button>
  <button disabled mat-menu-item>
    <mat-icon> more</mat-icon>
    <span> More Info </span>
  </button>
  <button mat-menu-item>
    <mat-icon> remove_circle</mat-icon>
    <span> Remove Widget </span>
  </button>
</mat-menu>
