<copec-page-layout class="editor" fxLayout="column" mode="card">
  <copec-page-layout-header>
    <copec-breadcrumbs current="WYSIWYG Editor"></copec-breadcrumbs>
  </copec-page-layout-header>

  <copec-page-layout-content fxFlex="auto" fxLayout="column">
    <quill-editor [@fadeInUp]
                  [formControl]="form"
                  [styles]="{ flex: '1 1 auto' }"
                  class="quill card mat-elevation-z16"
                  fxFlex="auto"
                  fxLayout="column"></quill-editor>
  </copec-page-layout-content>
</copec-page-layout>


