<div class="copec-preview-card" fxLayout="column" fxLayout.gt-sm="row">
  <div class="preview">
    <div class="preview-content" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
      <mat-list class="list mat-elevation-z1 card">
        <h3 mat-subheader>Contacts</h3>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatars/1.jpg">
          <h3 matLine>John</h3>
          <p matLine>
            <span>Brunch?</span>
            <span class="subline">-- Did you want to go on Sunday? I was thinking</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatars/2.jpg">
          <h3 matLine>Peter</h3>
          <p matLine>
            <span>Summer BBQ</span>
            <span class="subline">-- Wish I could come, but I have some special</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatars/3.jpg">
          <h3 matLine>Nancy</h3>
          <p matLine>
            <span>Oui oui</span>
            <span class="subline">-- Have you booked the Paris trip?</span>
          </p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>Other</h3>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatars/4.jpg">
          <h3 matLine>Frank</h3>
          <p matLine>
            <span>Pretty decent!</span>
            <span class="subline">-- You look pretty... decent!</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <img mat-list-avatar src="assets/img/avatars/5.jpg">
          <h3 matLine>Donald</h3>
          <p matLine>
            <span>That's great!</span>
            <span class="subline">-- Great work mate!</span>
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="content" fxFlex>
    <div class="header">
      <div class="title">Lists</div>
      <div class="tag">&lt;mat-list&gt;</div>
    </div>

    <mat-tab-group class="tabs copec-tabs">
      <mat-tab label="DESCRIPTION">
        <p class="tab-content">
          Lists are made up of a continuous column of rows. Each row contains a tile. Primary actions fill the tile, and
          supplemental actions are represented by icons and text.
          <br>
          <br>Lists are best suited to presenting a homogeneous data type or sets of data types, such as images and
          text. They are optimized for reading comprehension while differentiating either between similar data types, or
          qualities within a single data type.
          <br>
          <br><span class="semi-bold">List alternatives:</span>
          <br>If more than three lines of text need to be shown in list tiles, use cards instead
          <br>If the primary distinguishing content consists of images, use a grid list
          <br>
          <br><span class="semi-bold">Density</span>
          <br>When the mouse and keyboard are the primary input methods, measurements may be condensed to accommodate
          denser layouts.
        </p>
      </mat-tab>
      <mat-tab label="SOURCE CODE">
        <code copecHighlight [innerHTML]="listHTML"></code>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

